* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

canvas {
    width: 80vw;
    height: 40vh;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.controls button {
    margin: 0.5rem;
}

.controls input[type="range"] {
    margin: 0.5rem 0;
}

.controls label {
    margin-bottom: 0.5rem;
}