body {
  background: url('https://wallpaperaccess.com/full/869.jpg');
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  place-items: center;
}

.App {
  margin-top: 125px;
  text-align: center;
  padding: 1px;
  width: 1280px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

