.menu {
    display: inline-flex;
}

.controls {
    background-color: rgb(214, 214, 214);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.controls button {
    background-color: #ffffff;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Courier New;
    text-decoration: none;
    margin: 2px;
    padding: 4px 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
}

.controls button:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}

.controls p {
    margin-left: auto;
    display: inline;
}