.menu{
    display: flex;
    position: relative;
}
.controls {
    display: inline;
    float: left;
    padding: 5px;
    width: 30%;
}
.controls .slider{
    width: 90%;
}
.panel{
    display: inline;
    width: 70%;
}
.footer{
    position: absolute;
    align-items: center;
    bottom: 0;
    right: 0;
    left: 30.5%;
}
.footer h1{
    display: inline;
}
.footer h3{
    display: inline;
    padding: 0px 150px 0px 0px;
}
.sorts{
    color: black;
    padding: 5px;
}