.Controlls {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.Buttons1 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.sliders {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Buttons2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .Controlls {
        display: block;
    }
}